/* Universal Styles */

* {
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

/* Page Styles */

body {
	position: relative;
	background-color: rgb(238, 238, 238);
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
}

.search {
	justify-self: end;
	align-self: center;
	width: 20vw;
}

.search-bar {
	width: 100%;
}

.card {
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	grid-template-rows: 1fr;
	background-color: #fff;
	cursor: pointer;
	border-radius: 5px;
	border: 2px rgb(204, 204, 204) solid;
}

.avatar {
	border-radius: 50%;
	width: 90px;
	height: 90px;
	align-self: center;
	justify-self: center;
}

.text-container {
	justify-items: center;
	align-items: center;
}

/* Overlay Styles */

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(100, 100, 100, 0.4);
}

.modal {
	width: 375px;
	margin: 15% auto auto;
	position: relative;
	text-align: center;
	background: #fff;
	border: 1px solid #778;
	border-radius: 5px;
	padding: 30px 20px;
}

.modal-close {
	position: absolute;
	right: 15px;
	top: 10px;
	cursor: pointer;
}

#leftArrow {
	position: absolute;
	font-size: 24px;
	left: 12px;
	top: 200px;
	cursor: pointer;
}

#rightArrow {
	position: absolute;
	font-size: 24px;
	right: 12px;
	top: 200px;
	cursor: pointer;
}

.hidden {
	display: none;
}
